<div class="user-list">
<% @user_all.each do |users| %>
 <%= users.email %> <%= link_to "Add Friend", friendships_request_friendship_path(:from_id=>current_user.id,:to_id=>users.id) %><br><br>
<%end%>
</div>